<% layout("layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <br><br>

        <h3>Edit the Details</h3>
        <br>

        <form method="POST" action="/listings/<%= info._id %>?_method=PUT" novalidate class="needs-validation">

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                    type="text"
                    name="title"
                    class="form-control"
                    value="<%= info.title %>"
                    required
                >
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                    name="description"
                    class="form-control"
                    required
                ><%= info.description %></textarea>
                <div class="invalid-feedback">
                    Enter a short description
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input
                    type="text"
                    name="image"
                    class="form-control"
                    value="<%= info.image %>"
                    required
                >
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input
                        type="number"
                        name="price"
                        class="form-control"
                        value="<%= info.price %>"
                        required
                    >
                    <div class="invalid-feedback">
                        Enter a valid price
                    </div>
                </div>

                <div class="mb-3 col-md-4">
                    <label for="location" class="form-label">Location</label>
                    <input
                        type="text"
                        name="location"
                        class="form-control"
                        value="<%= info.location %>"
                        required
                    >
                    <div class="invalid-feedback">
                        Enter a valid location
                    </div>
                </div>

                <div class="mb-3 col-md-4">
                    <label for="country" class="form-label">Country</label>
                    <input
                        type="text"
                        name="country"
                        class="form-control"
                        value="<%= info.country %>"
                        required
                    >
                    <div class="invalid-feedback">
                        Enter a valid country
                    </div>
                </div>
            </div>

            <br>

            <button type="submit" class="btn btn-dark add-btn">
                Edit
            </button>

        </form>
    </div>
</div>